{% extends "base.html" %}

{% block title %}Forgot Password - CampusConnect{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow-sm">

            <div class="card-body">

                <h3 class="mb-3">Forgot Password</h3>

                <form method="POST" novalidate>

                    {{ form.hidden_tag() }}

                    <div class="mb-3">

                        {{ form.email.label(class="form-label") }}

                        {{ form.email(class="form-control") }}

                        {% for error in form.email.errors %}
                            <div class="text-danger small">
                                {{ error }}
                            </div>
                        {% endfor %}

                    </div>


                    {{ form.submit(class="btn btn-primary w-100") }}

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}
