# Flask
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=change-this-to-a-random-secret-key

# Database
DATABASE_URL=mysql+pymysql://root:yourpassword@localhost:3306/campusconnect

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
S3_BUCKET_NAME=
# Backup
MYSQLDUMP_PATH=C:\Program Files\MySQL\MySQL Server 8.0\bin\mysqldump.exe
MYSQL_PATH=C:\Program Files\MySQL\MySQL Server 8.0\bin\mysql.exe
BACKUP_PREFIX=backups/db/
